@model Knowledge_Garden.Models.FlowerDisplayViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Flower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.AttachmentNames)
        </dt>

        @if (Model.AttachmentNames != null)
        {
            foreach (var item in Model.AttachmentNames)
            {
            <dd>
                @Html.Label(item)
                <a  target="_blank" href="@item" >Download File</a>
            </dd>

            }
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
