@model Knowledge_Garden.Models.FlowerDisplayViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Flower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>

        @if (Model.AttachmentNames != null)
        {
            <dt>
                @Html.Label("Attachments")
            </dt>

            foreach (var item in Model.AttachmentNames)
            {
                <dd>
                    <label>@item</label>
                    <a target="_blank" href="~/Attachments/Details/@Model.Id/@item">Download File</a>
                </dd>

            }
        }

    </dl>
</div>
<p>
    @if (Model.OwnerUsername == User.Identity.Name)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
