@model IEnumerable<Knowledge_Garden.DataEntities.Flower>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Problem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdateDate)
        </td>
        <td>
            @if (item.OwnerUsername == User.Identity.Name)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <span> | </span>
            }
            @Html.ActionLink("Details", "Details", new { id=item.Id })

        </td>

        @if (item.Attachments != null)
        {
            foreach (var attachment in item.Attachments)
            {
                <td>
                   <label>@attachment.Name</label>
                    <a target="_blank" href="Attachments/Details/@item.Id/@attachment.Name">Download File</a>
                </td>
            }
        }

    </tr>
}

</table>
