@model Knowledge_Garden.Engine.Models.Attachment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Attachment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flower.OwnerUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flower.OwnerUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blobValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blobValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
